HTTPS_PROXY=http://172.18.0.1:1081
HTTP_PROXY=http://172.18.0.1:1081
NO_PROXY=localhost,127.0.0.1,.svc,.cluster.local,10.0.0.0/8,172.16.0.0/12,192.168.0.0/16

HF_MOUNT_IMAGE=hf-mount-fuse:local 
HF_MOUNT_BUILD_DIR=/path/to/hf-mount